html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: lightgray;
}

.main_container {
    width: 100%;
    flex-direction: column;
}

.group_container {
    width: 100%;
    justify-content: space-between;
}

.group_model {
    box-shadow: 0.5rem 0.5rem 1rem rgb(0 0 0 / 25%);
    border: 1px solid #e5e5e5;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
    background-color: white;
}

.group_model > div > a {
    text-decoration: none;
    font-size: 24px;
}

.group_info {
    flex-direction: column;
    padding: 0;
}

.group_info, .best_post_stat {
    font-weight: bold;
}

.group_desc {
    width: 80%;
    line-height: 1.5;
}

.best_post { 
    width: 100%;
    height: max-content;
}


.best_post_text {
    word-break: break-all;
}

.best_post_container {
    width: 75%;
    padding: 0.5rem 1rem 1rem 1rem;
    background-color: white;
    flex-direction: column;
    gap: 1.5rem;
    box-shadow: 0.5rem 0.5rem 1rem rgb(0 0 0 / 25%);
    border: 1px solid #e5e5e5;
}

.img_container {
    /*border: 2px solid black;*/
    border: 1px solid #e5e5e5;
    margin-bottom: .75rem;
}

.best_post_content {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.best_post_content > img {
    max-width: 100%;
}

.best_post_stat {
    gap: 1.5rem;
}

@media (max-width: 60em) {
    .group_model {
        width: 75%;
        text-align: center;
    }
    .group_perf {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .best_post_container {
        text-align: center;
    }
    .best_post_stat {
        justify-content: space-between;
    }
    .img_container {
        display: flex;
        width: max-content;
        justify-content: center;
    }
    .group_container {
        flex-direction: column;
        gap: 5rem;
        align-items: center;
    }
}

.flex {
    display: flex;
}