html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

main {
    width: 100%;
    flex-direction: column;
}

.group_container {
    width: 100%;
    justify-content: space-between;
}

.group_model {
    flex-direction: column;
    gap: 1.5rem;
}

.group_model > div > a {
    text-decoration: none;
    font-size: 24px;
}

.group_info {
    flex-direction: column;
    padding: 0;
}

.group_desc {
    width: 80%;
    line-height: 1.5;
}

.best_post { 
    width: 100%;
    padding: 1rem;
    border: 2px solid black;
    height: max-content;
}

.best_post_container {
    width: 75%;
}

.img_container {
    border: 2px solid black;
}








.flex {
    display: flex;
}